html{
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-weight: 100;
}

img {
    width: 60px;
    height: 60px;
}


.node img {
    filter: grayscale(100%);
}

.active img{
    filter: grayscale(0);
}

main{
    width: 800px;
    margin: 0 auto;
}

.load-generators{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
}

.load-info{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
}

.node{
    margin: 0 5px 0 0;
    width: 100px;
    text-align: center;
}

.instance{
    margin: 0 5px 0 0;
    width: 100px;
    text-align: center;
}

.id{
    text-align: center;
    font-size: 12px;
}

.count{
    text-align: center;
    font-size: 12px;
}